
body, html {
  width: 100%;
  height: 100%;
  background-color: rgb(236, 240, 246);
}

#root {
  width: 100%;
  /*height: 100%;*/
}

.app {
  background-color: rgb(236, 240, 246);
  width: inherit;
  height: inherit;

  padding-bottom: 45px;
}

.header {
  /* background-color: #282c34; */
  background-color: blueviolet;
  min-height: 4vh;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
  height: 52px;
  padding: 4px;
  padding-left: 10px;
}

.header h2 {
  margin: 0;
}

.main {
  padding-left: 10px;
  padding-right: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
}


.jurstatuslist {
  background-color: white;
}

button {
  padding: 10px;
  padding-left: 41px;
  padding-right: 41px;
  border-radius: 5px;
  -webkit-box-shadow: none;
  box-shadow: none;
  border: 1px solid transparent;

  border-color: blueviolet;
  margin: 3px;
  font-weight: bolder;
  font-size: 0.9em;
}

button:disabled {
  opacity: 0.5;
}

.bgColor-default {
  background-color: blueviolet;
}

.color-white {
  color: white;
}

input {
  border-radius: 3px;
  border: 2px solid blueviolet;
  padding: 5px;
  box-sizing: border-box;
}

.input-block {
  width: 100%;
}

.input-bg {
  padding: 10px !important;
}

.alert {
  padding: 20px;
  border-radius: 3px;
  position: absolute;
  top: 0;
  z-index: 1002;
}

.alert-error {
  background-color: red;
  color: white;
}

.alert-success {
  background-color: green;
  color: white;
}